.h {
  --color-periodic-accent: #fdfdfd;
  --color-periodic-accent-content: #5a5a5a;
}
.he {
  --color-periodic-accent: #61caff;
  --color-periodic-accent-content: #ffffff;
}
.li {
  --color-periodic-accent: #e273ab;
  --color-periodic-accent-content: #ffffff;
}
.be {
  --color-periodic-accent: #b8b8b8;
  --color-periodic-accent-content: #ffffff;
}
.b {
  --color-periodic-accent: #d39d56;
  --color-periodic-accent-content: #ffffff;
}
.c {
  --color-periodic-accent: #d47663;
  --color-periodic-accent-content: #ffffff;
}
.n {
  --color-periodic-accent: #bd75bd;
  --color-periodic-accent-content: #ffffff;
}
.o {
  --color-periodic-accent: #34ada5;
  --color-periodic-accent-content: #ffffff;
}
.f {
  --color-periodic-accent: #bcdb57;
  --color-periodic-accent-content: #ffffff;
}
.ca {
  --color-periodic-accent: #eea24c;
  --color-periodic-accent-content: #ffffff;
}
.zn {
  --color-periodic-accent: #f5d03d;
  --color-periodic-accent-content: #ffffff;
}
.fe {
  --color-periodic-accent: #ff6262;
  --color-periodic-accent-content: #ffffff;
}
.pt {
  --color-periodic-accent: #a3a3a3;
  --color-periodic-accent-content: #ffffff;
}
.la {
  --color-periodic-accent: #82c76d;
  --color-periodic-accent-content: #ffffff;
}
.ac {
  --color-periodic-accent: #64a0dd;
  --color-periodic-accent-content: #ffffff;
}
.trans {
  --color-periodic-accent: #858585;
  --color-periodic-accent-content: #ffffff;
}
