.start1 {
  grid-column-start: 1;
}
.start2 {
  grid-column-start: 2;
}
.start3 {
  grid-column-start: 3;
}
.start4 {
  grid-column-start: 4;
}
.start5 {
  grid-column-start: 5;
}
.start6 {
  grid-column-start: 6;
}
.start7 {
  grid-column-start: 7;
}
.start8 {
  grid-column-start: 8;
}
.start9 {
  grid-column-start: 9;
}
.start10 {
  grid-column-start: 10;
}
.start11 {
  grid-column-start: 11;
}
.start12 {
  grid-column-start: 12;
}
.start13 {
  grid-column-start: 13;
}
.start14 {
  grid-column-start: 14;
}
.start15 {
  grid-column-start: 15;
}
.start16 {
  grid-column-start: 16;
}
.start17 {
  grid-column-start: 17;
}
.start18 {
  grid-column-start: 18;
}
.start19 {
  grid-column-start: 19;
}
.start20 {
  grid-column-start: 20;
}
