:root {
  /* theme colors */
  --color-gensokanji-white: #ffffff;
  --color-gensokanji-black: #4a5155;
  --color-gensokanji-midnight: #293040;
  --color-gensokanji-navy: #424c66;
  --color-gensokanji-slate: #758ba3;
  --color-gensokanji-steel: #a6bbca;
  --color-gensokanji-moon-muted: #e1eb7b;
  --color-gensokanji-moon-vivid: #f0f645;

  /* font families */
  --font-family-zh-cn:
    "Source Han Sans CN", "Source Han Sans SC Subset Lv", "Noto Sans SC", "PingFang SC",
    "Microsoft YaHei", "sans-serif";
  --font-family-zh-tw:
    "Source Han Sans TW", "Source Han Sans CN", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei",
    "sans-serif";
  --font-family-zh-hk:
    "Source Han Sans HK", "Source Han Sans CN", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei",
    "sans-serif";
  --font-family-pinyin:
    "Source Han Sans TW", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", "sans-serif";
}
